<main class="d-flex flex-column justify-content-center align-items-center mt-5">
  <section class="w-50">
    <header class="mb-5">
      <p class="fs-1">Login</p>
    </header>
    <form autocomplete="off" (ngSubmit)="login()">
      <div class="mb-3 row">
        <label for="txtUser" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
          <input [(ngModel)]="formulario.usuario" name="usuario" type="text" class="form-control" id="txtUser">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input [(ngModel)]="formulario.password" name="password" type="password" class="form-control" id="inputPassword">
        </div>
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-outline-primary">Login</button>
      </div>
    </form>
    <section *ngIf="touch" class="mt-4">
      <div *ngIf="esCorrecto; else incorrecto">Bienvenido Angular</div>
      <ng-template #incorrecto>
        <div class="text-danger">Credenciales Incorrectas, inténtelo nuevamente</div>
      </ng-template>
    </section>
  </section>
</main>
